.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rproj.user/shared/notebooks/52459296-Manuscript/1/s/chunks.json
.Rproj.user/A02CA234/sources/session-2ceac329/lock_file
.Rproj.user/A02CA234/sources/session-2ceac329/FEA6A60E-contents
.Rproj.user/A02CA234/sources/session-2ceac329/FEA6A60E
.Rproj.user/A02CA234/sources/session-2ceac329/FAD39A5B-contents
.Rproj.user/A02CA234/sources/session-2ceac329/C166FB62-contents
.Rproj.user/A02CA234/sources/session-2ceac329/C166FB62
.Rproj.user/A02CA234/sources/session-2ceac329/BFE07F73-contents
.Rproj.user/A02CA234/sources/session-2ceac329/9E504514-contents
.Rproj.user/A02CA234/sources/prop/F3E361B4
.Rproj.user/A02CA234/sources/prop/5AC35980
.Rproj.user/A02CA234/sources/per/t/BADFFD3E-contents
.Rproj.user/A02CA234/sources/per/t/BADFFD3E
.Rproj.user/A02CA234/sources/per/t/2C5BA4C7-contents
.Rproj.user/A02CA234/sources/per/t/2C5BA4C7
.Rproj.user/A02CA234/pcs/windowlayoutstate.pper
.Rproj.user/A02CA234/pcs/source-pane.pper
.Rproj.user/A02CA234/jobs/E61F6F95-output.json
.Rproj.user/A02CA234/viewer_history/viewhtml679844853e0/lib/tabwid-1.1.3/tabwid.js
.Rproj.user/A02CA234/viewer_history/viewhtml679844853e0/lib/tabwid-1.1.3/tabwid.css
.Rproj.user/A02CA234/viewer_history/viewhtml679844853e0/index.html
.Rproj.user/A02CA234/viewer_history/history_entries
.Rproj.user/A02CA234/viewer_history/current_index
